<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="mainRepoServiceURL" value="http://10.4.6.106/AndroidRepositoryService/Service.svc/" />
    <add key="ReportServerIP" value="10.21.44.53" />
    <add key="TrailerReceiptReportPath" value="/NissanReports/TrailerReceipitReport" />
    <add key="TrailerReceiptPrinterName" value="TEST" />
    <add key="PPSDeilveryReportPath" value="/NissanReports/PPS_PullDeliveryReport" />
    <add key="PDFReportCopies" value="C:\PDFReportCopies\" />
    <add key="PDFArchiveLocation" value="C:\PDFReportCopies\" />
    <add key="ArchivePrintedSSRSReportsAsPDF" value="true" />
    <add key="ApplicationIdentifier" value="WebService" />
    <add key="LogActivity" value="true" />
    <add key="ActivityLogStoredProcedure" value="LogReportsActivity" />
    <add key="ArchiveReports" value="true" />
    <add key="ArchiveLocation" value="C:\PDFReportCopies\" />
    <add key="SendEmail" value="false" />
    <add key="FromAddress" value="noreply@goutsi.com" />
    <add key="SMTPClient" value="exch01.goutsi.com" />
    <add key="UserName" value="noreply" />
    <add key="Password" value="ylperon1!" />
    <add key="SendExtraEmails" value="false" />
    <add key="ExtraToAddresses" value="svallad@utsi.net" />
    <add key="ExtraEmailsOnly" value="false" />
    <add key="PrintRetries" value="3" />
    <add key="PrintRetryDelay" value="5000" />
    <add key="PDFReportCopies" value="C:\PDFReportCopies\" />
    <add key="ArchivePrintedSSRSReportsAsPDF" value="true" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="TasksConnectionString" connectionString="Data Source=10.4.6.243;Initial Catalog=Android_John;Persist Security Info=True;User ID=WMSDB;Password=Nzt8gpp!;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <!--This is for GET msgs-->
    <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding" maxReceivedMessageSize="2147483647">
			<security mode="None"/>
		</binding>
        <!--This is for POST msgs-->
      </webHttpBinding>
    </bindings>
    <services>
      <service name="LincService.LincService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" bindingConfiguration="webHttpBinding" behaviorConfiguration="webBehavior" contract="LincService.ILincService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="ScriptResourceIntegrated-4.0" />
      <add name="ScriptResourceIntegrated-4.0" path="ScriptResource.axd" verb="Get,Head,Post" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>